* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.container {
  height: 350px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d0d0d0;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 1px 29px 3px hsla(0, 0%, 0%, 0.3);
}

.container input[type="button"] {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 2px 1px 20px 1px hsla(0, 0%, 0%, 0.3);
  border: none;
  outline: none;
  background: #e0e0e0;
}

.container input[type="button"]:active {
  background: #d0d0d0;
}

.container input[type="text"] {
  font-size: 4rem;
  padding: 1px 5px;
  width: 100px;
  margin: 20px;
  border: none;
  border-radius: 10px;
}

#clear {
  position: absolute;
  transform: translateY(80px);
  transition: 500ms ease;
}

#clear:hover {
  box-shadow: 2px 1px 29px 3px hsla(0, 0%, 98%, 0.308);
}

.saveall {
  height: 350px;
  min-width: 50px;
  margin-left: 10px;
  padding: 5px 5px;
  background: #d0d0d0;
  border-radius: 10px;
  box-shadow: 2px 1px 29px 3px hsla(0, 0%, 0%, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveall select {
  width: 100%;
  font-size: 2rem;
  border: none;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
